<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
  <head>
    <link rel="stylesheet" href="../css/checkout.css" />
  </head>

  <body>
    <div class="checkout-all-container">
      <div class="checkout-container">
        <div class="checkout-item-container">
          <div class="checkout-item-title"><i class="fa-solid fa-cart-shopping"></i>Shopping Cart</div>
          <div class="checkout-table-container">
            <table class="checkout-item-table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody id="fetched-table" class="fetched-table"></tbody>
            </table>
          </div>

          <div class="checkout-item-bottompart">
            <a href="/" class="continue-shopping"> <i class="fa-solid fa-angles-left"></i> Continue Shopping </a>
            <div class="bottompart">
              <div class="checkout-subtotal">Total :</div>
              <div class="totalPrice" id="totalPrice"></div>
            </div>
          </div>
        </div>

        <div class="checkout-form">
          <div class="form-background">
            <div class="payment-info-title">Payment Info</div>
            <div class="checkout-detail-container">
              <div class="userData">
                <div class="name">Name : <%= userName %></div>
                <div class="email">Email : <%= userEmail %></div>
                <div class="paymentMethod">
                  <p>Payment Method :</p>
                  <div class="paymentRow">
                    <select class="paymentDropdown">
                      <option value="m_bca">M-BCA</option>
                      <option value="dana">DANA</option>
                      <option value="mandiri">MANDIRI</option>
                      <option value="gopay">GOPAY</option>
                    </select>
                  </div>
                </div>
              </div>
              <form id="checkout-form">
                <div class="form-group group1">
                  <label for="address">Address</label>
                  <input type="text" id="address" required />
                </div>
                <div class="form-group group2">
                  <div class="postalCode">
                    <label for="postal-code">Postal Code</label>
                    <input type="text" id="postal-code" required />
                  </div>
                  <div class="city">
                    <label for="city">City</label>
                    <input type="text" id="city" required />
                  </div>
                </div>
                <button type="submit" class="checkoutBtn" disabled>Checkout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popupRecieve" style="display: none">
      <div class="checklist">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="paragraf">
        <p class="tyParagraf">Thankyou For Ordering, <%= userName %></p>
        <p class="tyParagraf2">Your order has been placed successfully</p>
      </div>

      <a href="/" class="continue-shopping"> Continue Shopping</a>
    </div>
  </body>
  <script src="../script/shoppingCart.js"></script>
  <script src="../script/checkout.js"></script>
  <script>
    userID = '<%= userID %>';
  </script>
</html>
