<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layouts/header.ejs') %>

  <body>
    <!-- Hero Section start-->
    <section class="hero" id="home">
      <main class="content">
        <h1>COOLNIQLO FASHION</h1>
        <p>
          Toko fashion online terpercaya yang menawarkan berbagai macam pakaian
          pria dan wanita berkualitas tinggi dengan harga terjangkau.
        </p>
        <a href="#product" class="cta">Beli Sekarang</a>
        <div>
          <%= firstName %> <%= lastName %>
        </div>
      </main>
    </section>
    <!-- nav -->
    <%- include('layouts/nav.ejs') %>
    <div class="sort-container">
      <ul>
        <li><button onclick="sortBy_Desc('price')">Price (Descending)</button></li>
        <li><button onclick="sortBy_Asc('rating')">Rating (Ascending)</button></li>
        <li><button onclick="sortByRange('rating',2,3)">Rating 2 - 3</button></li>
        <li><button onclick="sortBy_Desc('sold')">Sold (Descending)</button></li>
      </ul>
    </div>
    <div class="grid-container" id="grid-container">
      <!-- item loaded here from searchItem.js -->
    </div>
    <!--  -->
    <!-- footer -->
    <%- include('layouts/footer.ejs') %>
    <script>
      feather.replace();
    </script>
    <script src="../script/script.js"></script>
    <script src="../script/searchAndSort.js"></script>

  </body>
</html>
